/* Cor primaria  */
$primaria-violeta-moderado-cor: hsl(263, 55%, 52%);
$primaria-azul-acinzentado-muito-escuro-cor: hsl(217, 19%, 35%);
$primaria-enegrecido-muito-escuro-cor: hsl(219, 29%, 14%);
$branco-cor: hsl(0, 0%, 100%);

/* Neutro */
$neutra-cinza-claro-cor: hsl(0, 0%, 81%);
$neutra-azul-acinzentado-claro-cor: hsl(210, 46%, 95%);
